<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.george.socialmeme">

    <queries>
        <intent>
            <action android:name='com.instagram.share.ADD_TO_STORY' />
            <data android:mimeType='image/*' />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialMeme"
        tools:ignore="DataExtractionRules"
        tools:replace="android:allowBackup"
        tools:targetApi="s">

        <meta-data

            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/sm_notifications_1" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="firebase_fcm" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".Activities.SearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PostActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FullScreenVideoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NoInternetConnectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AllUserPostsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PostsOfTheMonthActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.FollowerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AccountSettingsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9627755439548346~7996414717" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="firebase_fcm" />

        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false" />
        <activity android:name=".Activities.SelectProfileImageActivity" />
        <activity
            android:name=".Activities.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/mp4" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".Services.UpdateService"
            android:directBootAware="true"
            android:exported="true" />

        <service
            android:name=".Services.FirebaseNotificationService"
            android:directBootAware="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>